.movie-image {
  width: 189px;
}

.movie-description {
  max-height: 126px;
  overflow: hidden;
  font-size: .875rem;
}

.movie-container {
  max-height: 286px;
}

.btn-details {
  color: #408da8;
}

.btn-details:hover {
  color: #212529;
}